
.vscode/
.autodl/
**/__pycache__/
Dassl.pytorch/

*.pth
*.pth.tar*
*.tar
*.pt
*.ckpt
*.bin
*.h5
**/checkpoint
**/tensorboard/
**/DATASETS/MMRL/output_sweeps/
**/output_bayesrt_ablation_fixed_hpo/
**/output_b2n_detbayesrt_bayesadapter/
**/output_bayesrt_ablation_independent_hpo/

MMRL/DATASETS/
MMRL/cache/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/output_sweeps
MMRL/output_refactor/
